name: Generate Newsletter

on:
  workflow_dispatch:
    inputs:
      dateFrom:
        description: 'Starting date of merged PRs (inclusive)'
        type: string
        required: true
      dateTo:
        description: 'Ending date of merged PRs (inclusive)'
        type: string
        required: true

jobs:
  generate_newsletter:
    runs-on: ubuntu-latest
    env:
      DATE_FROM: ${{github.event.inputs.date_from}}
      DATE_TO: ${{github.event.inputs.date_to}}
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Get gq executable
        run: wget https://github.com/pbar1/gq/releases/download/1.4.0/gq_linux_amd64 -O scripts/gq
      - name: Run the generation script
        run: scripts/generate_newsletter.sh
      - name: Read runtime file
        run: cat 1_runtime.md
      - name: Read node file
        run: cat 2_node.md
      - name: Read the rest file
        run: cat 3_rest.md
